.subject-card {
  margin-bottom: 16px;
  padding: 12px 16px;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 8px;

    h3 {
      margin: 0;
    }
  }

  &__average {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
  }
}

.full-width {
  width: 100%;
}
